<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>بازیابی رمز عبور</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
  </head>
  <body>
    <div>
      <%- include('../partials/login-navbar') %>

      <div class="container">
        <form action="/reset/password" method="post">
          <div class="center form col-11">
            <p class="title">بازیابی رمز عبور</p>
            <% if (password) { %>
            <div
              class="alert alert-warning alert-dismissible fade show w-75 text-right mx-auto"
              role="alert"
            >
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              <%= password %>
            </div>
            <% } %>
            <div
              class="d-none alert alert-warning alert-dismissible fade show w-75 text-right mx-auto"
              role="alert"
              id="alertDiv"
            >
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              مغایرت ورودی ها
            </div>
            <div
              class="d-none alert alert-warning alert-dismissible fade show w-75 text-right mx-auto"
              role="alert"
              id="alertDiv2"
            >
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              رمز عبور باید شامل 6 کاراکتر و حداقل یک حرف بزرگ و کوچک باشد.
            </div>
            <input
              class="d-none"
              type="text"
              name="token"
              style="direction: rtl"
              value="<%= token %>"
            />
            <div class="text-input">
              <i class="fas fa-lock"></i>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="رمز عبور"
              />
            </div>
            <div class="text-input">
              <i class="fas fa-redo"></i>
              <input
                type="password"
                id="rePassword"
                name="rePassword"
                placeholder="تکرار رمز عبور"
              />
            </div>

            <p class="submitBtn btn btn-success mb-5" onclick="return check()">
              ارسال درخواست
            </p>

            <input
              type="submit"
              class="submitBtn btn btn-success mb-5 d-none"
              id="submit"
            />
          </div>
        </form>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"
  ></script>
  <script>
    function check() {
      $("#alertDiv").addClass("d-none");
      $("#alertDiv2").addClass("d-none");
      const regex = new RegExp(
        /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$/
      );
      if ($("#password").val() !== $("#rePassword").val()) {
        $("#alertDiv").removeClass("d-none");
      } else if (!regex.test($("#password").val())) {
        $("#alertDiv2").removeClass("d-none");
      } else {
        $("#submit").click();
      }
    }
  </script>
</html>
