<footer class="main-footer text-left">
  <a class="text-light" href="google.com"
    ><i class="fab fa-linkedin ml-2"></i
  ></a>
  <a class="text-light" href="https://www.instagram.com/mkhorshidian72"
    ><i class="fab fa-instagram ml-2"></i
  ></a>
  <a class="text-light" href="https://t.me/mkhort21"
    ><i class="fab fa-telegram ml-2"></i
  ></a>
  <a class="text-light" href="https://github.com/MajidKhor21"
    ><i class="fab fa-github ml-2"></i
  ></a>
</footer>
