<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/"
          >صفحه اصلی <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register" tabindex="-1">ثبت نام</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">ورود</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reset" tabindex="-1">فراموشی رمز عبور</a>
      </li>
    </ul>
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand mg ml-4"" href="/">مکتب بلاگ</a>
</nav>
