<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="/user/dashboard" class="brand-link text-right">
    <img
      src="/images/logo.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3 text-center"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">مکتب</span>
  </a>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <% if (user.avatar === "default") { %>
        <img
          src="/images/avatar.png"
          class="img-circle elevation-2"
          alt="User Image"
        />
        <%} else { %>
        <img
          src="/images/avatars/<%= user.avatar %> "
          class="img-circle elevation-2"
          alt="User Image"
        />
        <% } %>
      </div>
      <div class="info">
        <a href="#" class="d-block"
          ><%= user.firstName %> <%= user.lastName %>
        </a>
      </div>
    </div>
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item has-treeview">
          <a href="/user/dashboard" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>داشبورد</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              مشخصات
              <i class="fas fa-angle-right right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/user/info" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>مشخصات من</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/user/edit" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>ویرایش مشخصات</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/user/avatar" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>تغییر آواتار</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              مقالات
              <i class="fas fa-angle-right right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/user/article/add" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>ایجاد مقاله جدید</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>مقالات من</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>ویرایش مقالات</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="/user/calendar" class="nav-link">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>تقویم</p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a href="/logout" class="nav-link">
            <i class="nav-icon text-warning fas fa-sign-out-alt"></i>
            <p class="text-warning">خروج</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
