<footer class="main-footer text-left" style="margin-bottom: -10px">
  <a
    class="text-warning"
    href="https://www.linkedin.com/in/majid-khorshidian-52994b20a/"
    ><i class="fab fa-linkedin ml-2"></i
  ></a>
  <a class="text-warning" href="https://www.instagram.com/mkhorshidian72"
    ><i class="fab fa-instagram ml-2"></i
  ></a>
  <a class="text-warning" href="https://t.me/mkhort21"
    ><i class="fab fa-telegram ml-2"></i
  ></a>
  <a class="text-warning" href="https://github.com/MajidKhor21"
    ><i class="fab fa-github ml-2"></i
  ></a>
</footer>
