<footer class="main-footer text-left" style="margin-bottom: -10px">
  <a class="text-warning" href="mailto:mkhorshidian72@gmail.com"
    ><i class="far fa-envelope ml-2"></i
  ></a>
  <a class="text-warning" href="https://www.linkedin.com/in/makhor21/"
    ><i class="fab fa-linkedin ml-2"></i
  ></a>
  <a class="text-warning" href="https://www.instagram.com/makhor21"
    ><i class="fab fa-instagram ml-2"></i
  ></a>
  <a class="text-warning" href="https://t.me/makhor21"
    ><i class="fab fa-telegram ml-2"></i
  ></a>
  <a class="text-warning" href="https://github.com/makhor21"
    ><i class="fab fa-github ml-2"></i
  ></a>
</footer>
