<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>مکتب بلاگ</title>

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Custom fonts for this template -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Custom styles for this template -->
    <link href="/stylesheets/home.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="/stylesheets/login.css" /> -->
  </head>

  <body>
    <!-- Navigation -->
    <%- include('partials/home-navbar') %>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">بلاگر شو !</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="form-row">
              <div class="col-12 col-md-3 mx-auto">
                <a
                  class="btn btn-block btn-lg btn-primary text-center"
                  href="/register"
                  >ثبت نام</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="fas fa-mobile-alt m-auto text-primary"></i>
              </div>
              <h4 class="mt-4">قابل استفاده حتی در گوشی</h4>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="fas fa-layer-group m-auto text-primary"></i>
              </div>
              <h4 class="mt-4">محیطی جذاب</h4>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="far fa-check-circle m-auto text-primary"></i>
              </div>
              <h4 class="mt-4">استفاده آسان</h4>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div
            class="mx-auto col-xl-6 order-xl-2 text-white showcase-img overlay d-none d-lg-block"
            style="background-image: url('images/bg-showcase-1.jpg')"
          ></div>
          <div class="col-xl-6 order-xl-1 my-auto showcase-text">
            <h2 class="text-right">نشر دانش</h2>
            <p class="lead mb-0 text-right">
              زکات علم، نشر آن است. هر وبلاگ می تواند پایگاهی برای نشر علم و
              دانش باشد. بهره برداری علمی از وبلاگ ها نقش بسزایی در تولید محتوای
              مفید فارسی در اینترنت خواهد داشت. انتشار جزوات و متون درسی، یافته
              های تحقیقی و مقالات علمی از جمله کاربردهای علمی قابل تصور برای
              وبلاگ ها است.
            </p>
          </div>
        </div>
        <div class="row no-gutters">
          <div
            class="col-xl-6 text-white showcase-img d-none d-lg-block"
            style="background-image: url('images/bg-showcase-2.jpg')"
          ></div>
          <div class="col-xl-6 my-auto showcase-text">
            <h2 class="text-right">انتقال تجربه</h2>
            <p class="lead mb-0 text-right">
              مرد خردمند هنر پیشه را، عمر دو بایست در این روزگار، تا به یکی
              تجربه اندوختن، با دگری تجربه بردن به کار! اگر همه ما تجربیات مفید
              خود را در اختیار دیگران قرار دهیم همه خواهند توانست با انتخاب ها و
              تصمیمات درست تر، استفاده بهتری از وقت و عمر خود داشته باشند.
            </p>
          </div>
        </div>
        <div class="row no-gutters">
          <div
            class="col-xl-6 order-xl-2 text-white showcase-img d-none d-lg-block"
            style="background-image: url('images/bg-showcase-3.jpg')"
          ></div>
          <div class="col-xl-6 order-xl-1 my-auto showcase-text">
            <h2 class="text-right">بیان دیدگاه ها</h2>
            <p class="lead mb-0 text-right">
              گاهی هدف از نوشتن ترویج نظرات و دیدگاه های شخصی نویسنده یا ابراز
              احساسات و عواطف اوست. برخی هم انتشار نظرات خود را فرصتی برای نقد و
              ارزیابی آن می دانند. البته کسانی که دیدگاه های خود را در قالب هنر
              بیان می کنند، تاثیر بیشتری بر محیط پیرامون خود می گذارند.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">دیگران در مورد ما چی میگن ؟!</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img
                class="img-fluid rounded-circle mb-3"
                src="images/testimonials-1.jpg"
                alt=""
              />
              <h5>علی</h5>
              <p class="font-weight-light mb-0">خیلی محشره !!!</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img
                class="img-fluid rounded-circle mb-3"
                src="images/testimonials-2.jpg"
                alt=""
              />
              <h5>حسین</h5>
              <p class="font-weight-light mb-0">
                بهترین تجربه استفاده ام از یک سرویس وبلاگ
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img
                class="img-fluid rounded-circle mb-3"
                src="images/testimonials-3.jpg"
                alt=""
              />
              <h5>رضا</h5>
              <p class="font-weight-light mb-0">کارشون حرف نداره ...</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">آماده ای برای ثبت نام ؟!</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="form-row">
              <div class="col-12 col-md-3 mx-auto">
                <a href="/register" class="btn btn-block btn-lg btn-primary">
                  ثبت نام
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="row mx-auto">
        <div class="col-12 text-center">
          <a href="mailto:mkhorshidian21@gmail.com"
            ><i class="fas fa-envelope fa-2x fa-fw"></i
          ></a>
          <a href="https://www.linkedin.com/in/makhor21/"
            ><i class="fab fa-linkedin fa-2x fa-fw"></i
          ></a>
          <a href="https://www.instagram.com/makhor21"
            ><i class="fab fa-instagram fa-2x fa-fw"></i
          ></a>
          <a href="https://t.me/makhor21"
            ><i class="fab fa-telegram fa-2x fa-fw"></i
          ></a>
          <a href="https://github.com/makhor21"
            ><i class="fab fa-github fa-2x fa-fw"></i
          ></a>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
