<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ثبت نام</title>
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="./stylesheets/register.css" />
  </head>
  <body>
    <div>
      <%- include('partials/login-navbar') %>

      <div class="container">
        <div class="center form col-11">
          <p class="title">ثبت نام</p>

          <div
            class="alert alert-danger w-75 mx-auto d-none"
            role="alert"
            id="alertMsg"
          >
            الزامی
          </div>

          <div
            class="alert alert-warning w-75 mx-auto d-none"
            role="alert"
            id="msg2"
          >
            خطا
          </div>

          <div
            class="alert alert-success w-75 mx-auto d-none"
            role="alert"
            id="msg"
          >
            حساب کاربری با موفقیت ایجاد شد
          </div>

          <div class="text-input">
            <i class="fas fa-user"></i>
            <input type="text" id="firstName" placeholder="نام" />
          </div>
          <div class="text-input">
            <i class="fas fa-user"></i>
            <input type="text" id="lastName" placeholder="نام خانوادگی" />
          </div>

          <div class="text-input">
            <i class="fas fa-id-card-alt"></i>
            <input type="text" id="username" placeholder="نام کاربری" />
          </div>
          <div class="text-input">
            <i class="fas fa-lock"></i>
            <input type="password" id="password" placeholder="رمز عبور" />
          </div>
          <div class="text-input">
            <i class="fas fa-redo"></i>
            <input
              type="password"
              id="rePassword"
              placeholder="تکرار رمز عبور"
            />
          </div>
          <div class="text-input">
            <i class="fas fa-mobile-alt"></i>
            <input
              type="text"
              id="mobileNumber"
              size="11"
              placeholder="شماره موبایل"
            />
          </div>
          <!-- <div class="text-input mt-3">
            <i class="fas fa-image" id="pic"></i>
            <input type="file" id="avatar" />
          </div> -->

          <div class="text-input">
            <i class="fas fa-venus-mars" id="gen"></i>
            <div class="form-check text-light" id="radioBtn">
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios"
                value="male"
                checked
              />
              <label
                class="form-check-label mr-4"
                for="exampleRadios1"
                style="margin-left: 15px"
              >
                مرد
              </label>
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios"
                id="exampleRadios1"
                value="female"
              />
              <label class="form-check-label mr-4" for="exampleRadios1">
                زن
              </label>
            </div>
          </div>

          <button class="submitBtn btn btn-success" id="submitBtn">
            ثبت نام
          </button>

          <p class="login">حساب کاربری دارید؟ <a href="/login">ورود</a></p>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"
  ></script>
  <script src="/javascripts/register.js"></script>
</html>
